textarea{
    all:unset;
    
    width: 100%;
}
.question{
    margin-top: 10px;
    font-weight: bolder;
}
.wrapperAnswer{
    display: flex;
}

.question{
   
}
.answer{
    margin-top: 10px; 
}
.help{
    
}

