
.wrapper{
    margin-top: 15px;
    max-width:604px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 15px;
}
.picture{
    width: 100%;
}
.withoutPicture{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: clamp(130px, 35vw, 355px);
    font-size: clamp(25px, 8vw, 50px); 
}
.answers{
    list-style-type: none;
    margin-top: 10px;
}
.help{
    margin-top: 10px;
}


textarea{
    all:unset;
    width: 100%;
}
.question{
    margin-top: 10px;
    font-weight: bolder;
}
.wrapperAnswer{
    display: flex;
}
.answer{
    margin-top: 10px; 
}
.btn{
    cursor: pointer;
    margin-top: 10px;
}


