.wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    max-width:604px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 15px;
}
.numberQuestion{
    margin-left: 15px;
}
.inputFile{
    margin: 10px 0px 0px 15px;
}
.textarea{
    overflow: hidden;
    resize: vertical;
    border: 1px solid;
    padding-left: 5px;
    width: 100%;
    height: 30px;
    margin-left: 5px;
    line-height: 30px;
    background-color: white;
}
.textarea::placeholder{
    font-size: 13px;
    color:gray
}
.wrapperInput{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.inputAnswer{
    width: 100%;
    height: 35px;
    padding-left: 5px;
    margin-left: 5px;
}
.inputAnswer::placeholder{
    color:gray
}
.deleteInputBtn{
    width: 60px;
    height: 35px;
    cursor:pointer;
    font-size: 25px;
}
.radioBtn{
    margin-left:5px
}
.createInputBtn{
    width: 100px;
    margin: 0px 0px 0px 15px;
    height: 20px;
    cursor:pointer;
}
.helpBtn{
    width: 100%;
    margin: 0px 0px 0px 15px;
}
.saveBtn{
    width: 100px;
    margin: 10px 0px 0px 15px;
    cursor:pointer
}
.requiredInput{
    color: red;
    font-size: 24px;
    margin-top: 1px;
}