.wrapper{
    display: flex;
    flex-direction: column;
    margin:15px 0px 0px 40px;
    max-width:804px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 15px;
}

.picture{
    width: 100%;
    cursor: pointer;
}
.wrapperImg{
    position: relative;
}
.logoDeleteImg{
    cursor: pointer;   
    position: absolute;
    top: 5px;  
    right: 0;
}
.inputFile{
    display: none;
    margin: 15px 0px 0px 15px;
}
.textarea{
    overflow: hidden;
    resize: vertical;
    border: 1px solid;
    padding-left: 5px;
    width: 100%;
    height: 30px;
    margin-left: 5px;
    line-height: 30px;
    background-color: white;
}
.textarea::placeholder{
    font-size: 13px;
    color:gray
}
.wrapperInput{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.inputAnswer{
    width: 100%;
    height: 35px;
    padding-left: 5px;
    margin-left: 5px;
}
.inputAnswer::placeholder{
    color:gray
}
.deleteInputBtn{
    width: 60px;
    height: 35px;
    cursor:pointer;
    font-size: 25px;
}
.radioBtn{
    margin-left:5px
}
.createInputBtn{
    width: 100px;
    margin: 0px 0px 0px 15px;
    height: 20px;
    cursor:pointer;
}
.helpBtn{
    width: 100%;
    margin: 0px 0px 0px 15px;
}
.wrapperBtn{
    display: flex;
    align-items: center;
    margin: 10px 0px 0px 15px;
    height: 40px;
}
.saveBtn{
    width: 100px;
    cursor:pointer
}
.gif{
    margin-left: 10px;
    height: 25px;
    width: 25px;
}
.requiredInput{
    color: red;
    font-size: 24px;
    margin-top: 1px;
}
.errors{
    margin: auto;
    font-weight: lighter;
    color: red;
}