
.wrapper{
   max-width: 1200px;
   margin: auto;
}
.wrapperTitle{
    display: flex;
    align-items: center;
    
}
.content{
    max-width: 800px;
    margin:20px 0px 0px 0px;
    padding-bottom: 15px;
    margin: auto;
}

.title{
    margin-left: 10px;
}