
.wrapper{
   max-width: 1400px;
   margin: auto;
   display: grid;
   grid-template-columns: 45% 55%;   
}
.content{
    margin:20px 0px 0px 0px;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 15px;
}
