.users{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    height: 40px;
    background: rgba(223, 229, 231, 0.26);
}

.logo{
    cursor: pointer;
}
.higlight{
    background: rgba(225, 228, 231, 0.712);
}


