.wrapper{
    position: relative;
}
.wrapperTitle{
    display: flex;
    align-items: center;
}
.users{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-top: 10px;
    background: rgba(221, 224, 224, 0.26);
    font-weight: 200;
}
.wrapperSearchUser{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
}
.inputSearchUser{
    padding-left: 5px;
    margin-right: 5px;
}

.logo{
    width: 32px;
    height: 32px;
    margin-right: 10px;
    cursor: pointer;
}
.higlight{
    background: rgba(233, 239, 245, 0.712);
}


.title{
    display: flex;
    align-items: center;
    font-weight: 200;
    margin-top: 15px;
    cursor: pointer;
    user-select: none; 
    
}
.logoArrow{
    transform: rotate(180deg);
}

.logoArrowActive{
    transform: rotate(0deg);
}

.userExamResult{
    z-index: 22;
    overflow: auto;
    position: absolute;
    width: 820px;
    height: 90vh;
    background-color: antiquewhite;
    margin-left: auto;
    margin-right: auto;
    top: 140px;
    
    text-align: center;
}

.wrapperQuestion{
    display: flex;
    flex-direction: column;
    margin:15px 0px 0px 40px;
    max-width:100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 15px;
}
.picture{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.withoutPicture{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: clamp(130px, 35vw, 250px);
    font-size: clamp(25px, 8vw, 50px);
    background-color: aqua; 
}
.test{
    background-color: red;
    width: 300px;
    height: 400px;
}