.wrapperTitle{
    display: flex;
    align-items: center;
}
.users{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-top: 10px;
    background: rgba(221, 224, 224, 0.26);
    font-weight: 200;
}
.wrapperSearchUser{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
}
.inputSeacrhUser{
    padding-left: 5px;
}
.inputSeacrhUser::placeholder{
    margin-left: 15px;
}
.logo{
    width: 32px;
    height: 32px;
    margin-right: 10px;
    cursor: pointer;
}
.higlight{
    
    background: rgba(233, 239, 245, 0.712);
}


.title{
    display: flex;
    align-items: center;
    font-weight: 200;
    margin-top: 15px;
    cursor: pointer;
    user-select: none; 
    
}
.logoArrow{
    transform: rotate(180deg);
}

.logoArrowActive{
    transform: rotate(0deg);
}

.userExamResult{
    z-index: 22;
    overflow: auto;
    position: absolute;
    top:0;
    left: 28%;
    width: 800px;
    height: 90vh;
    background-color: blueviolet;
}