
.users{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding-left: 5px;
    background: rgba(223, 229, 231, 0.26);
    margin-top: 7px;
    font-weight: 200;
}
.logo{
    width: 32px;
    height: 32px;
    margin-right: 10px;
    cursor: pointer;
}
.higlight{
    background: rgba(225, 228, 231, 0.712);
}
.higlightExam{
    background: green;
}
.wrapperUserResult{
    position: absolute;
    z-index: 22;
    width: auto;
    height: auto;
    left: 0;
    background-color: rgb(225, 225, 235);
}
.wrapperRender{
    font-weight: 200;
    margin-top: 15px;
}