.wrapperLogoShowResult{
    display: flex;
    align-items: center;
}
.wrapper{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    background-color: rgba(0, 0, 0, 0.6);
}
.userExamResult{
    z-index: 2;
    overflow: auto;
    width: 1024px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 20px; 
}

.testResult{
    display: flex;
    justify-content: center;
}
.userName{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-weight: lighter;
}
.wrapperLogoClose{
    display: flex;
    justify-content: end;
}
.logoClose{
    cursor: pointer;
}
.wrapperQuestion{
    display: flex;
    flex-direction: column;
    margin:15px 0px 0px 40px;
    max-width:100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 45px;
}
.picture{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.withoutPicture{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: clamp(130px, 35vw, 250px);
    font-size: clamp(25px, 8vw, 50px);
}
.wrapperAnswers{
    margin-top: 10px;
}
.questionText{
    font-weight: 600;
    border-bottom: 1px solid black;
}
.answers{
    margin-top: 15px;
    margin-left: 17px;
}
.green{
    color: green;
}
.red{
    color:red
}